<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Home'" [items]="['Home']" [active_item]="'Home'"></app-breadcrumb>
      </div>
      <div class="row">
        <div class="col-md-6 col-xl-3">
          <div class="card info-card">
            <div class="info-box8">
              <i class="material-icons bg-purple card1-icon">shopping_cart</i>
              <h5 class="col-deep-purple">Total Sales</h5>
              <h4>258</h4>
              <div>
                <i class="material-icons col-red float-start me-1 ms-1">trending_down</i>
                <p class="float-start m-0"><span class="col-orange">10%</span> Decrease
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card info-card">
            <div class="info-box8">
              <i class="material-icons bg-orange card1-icon">people</i>
              <h5 class="col-orange">Customers</h5>
              <h4>1,287</h4>
              <div>
                <i class="material-icons col-green float-start me-1 ms-1">trending_up</i>
                <p class="float-start m-0"><span class="col-green">25%</span> Increase
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card info-card">
            <div class="info-box8">
              <i class="material-icons bg-green card1-icon">local_activity</i>
              <h5 class="col-green">New Tickets</h5>
              <h4>128 </h4>
              <div>
                <i class="material-icons col-red float-start me-1 ms-1">trending_down</i>
                <p class="float-start m-0"><span class="col-orange">12%</span> Decrease
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card info-card">
            <div class="info-box8">
              <i class="material-icons bg-blue card1-icon">attach_money</i>
              <h5 class="col-blue">Revenue</h5>
              <h4>$48,697</h4>
              <div>
                <i class="material-icons col-green float-start me-1 ms-1">trending_up</i>
                <p class="float-start m-0"><span class="col-green">08%</span> Increase
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  